#hd4{
  font-size: 6rem;
 }
 .cnt{
  margin-top: 170px;
 }
 #hd6{
  margin-left: 0.7rem;
 }
 #icn4{
  font-size:2.5rem ;
 }
 @media only screen and (max-width: 800px){
  #hd4{
    font-size: 3rem;
   }.cnt{
     margin-top: 50px;
   }
   #icn4{
   font-size: 2rem;
   }
   #hd6{
   margin-left: 1rem;
   margin-right: 0.7rem;
   font-size: 1.4rem;
   }
   #cs1{
   margin-top: 10px;
   }
 }